# Autosave files
*~

# build
Obj/
obj/
Bin/
bin/
# packages/
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.tar.gz
tarballs/
test-results/
Thumbs.db
.vs/
.sonarqube/
# launchSettings.json

# Mac bundle stuff
*.dmg
*.app

# resharper
*_Resharper.*
*.Resharper
.idea

# dotCover
*.dotCover
*.info

# Ignore test-related files
coverage.json
coverage.opencover.xml
coverage.info
/Raizen.OrderManagement.Portal.WebApi/*.user

# Ignore bak files
*.bak